* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #111;
    font-family: Arial, sans-serif;
    gap: 100px;
}
/* 3d container */
.container {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    perspective: 1000px;
}
/* 3d card leandown */
.leandown_card {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: .5;
    transform: rotateX(50deg);
    transition: transform .8s,opacity 2s;
}

.leandown_card:hover {
    transform: rotateX(0deg);
    opacity: 1;
}

.leandown_card .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    overflow: hidden;
}

.leandown_card .cover-image {
    width: 100%;
    height: 100%;
    background: url('https://lh3.googleusercontent.com/RUg9YJuY2cPjh5znR5ZLqLJIBrm1CM2JuwCS1XP6g31ZDPa_NR--jR0JAum5qDbl2g5UKgBwM4SHSuyiWqjyd7VhBUI=s1280-w1280-h800') no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.leandown_card:hover .cover-image {
    filter: blur(2px);
    opacity: 0.8;
}

.leandown_card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 8px;
}

.leandown_card:hover .overlay {
    opacity: 1;
}

.leandown_card .title {
    position: absolute;
    bottom: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 10px;
    transform: translateZ(20px);
    transition: transform 0.5s;
}

.leandown_card:hover .title {
    background: none;
    transform: translate3d(0, -50px, 100px);
}


/* 3d card sideway */
.sideway_card {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: .5;
    transform: rotateY(60deg);
    transition: transform .8s,opacity 2s;
}

.sideway_card:hover {
    transform: rotateY(0deg);
    opacity: 1;
}

.sideway_card .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    overflow: hidden;
}

.sideway_card .cover-image {
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/736x/48/02/13/480213ff7e10867be7f819f18f799a66.jpg') no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.sideway_card:hover .cover-image {
    filter: blur(2px);
    opacity: 0.8;
}

.sideway_card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 8px;
}

.sideway_card:hover .overlay {
    opacity: 1;
}

.sideway_card .title {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 10px;
    transform: translateZ(20px);
    transition: transform 0.5s;
}

.sideway_card:hover .title {
    transform: translate3d(0, -50px, 100px);
}

.sideway_card .title p {
    font-size: 14px;
    color: #ccc;
    opacity: 0;
    transition: opacity 0.5s 0.1s;
}

.sideway_card:hover .title p {
    opacity: 1;
}


/* Example Card */
/* 3d container */
.container_card {
    padding: 10px;
    border-radius: 10px;
    perspective: 1000px;
}
/* 3d card leandown */
.card {
    width: 300px;
    height: 400px;
    position: relative;
    cursor: pointer;
    transform: rotateX(00deg);
    transition: transform .8s ,box-shadow .3s;
}

.container_card:hover .card {
    transform: rotateX(20deg);
    box-shadow: 0px 0px 200px 2px rgb(0, 0, 0);
}

.card .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.card .cover-image {
    width: 100%;
    height: 100%;
    background: url('./berserk_card.jpg') no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container_card:hover .cover-image {
    filter: blur(2px);
    opacity: 0.8;
}

.overlay {
    position: absolute;
    width: 50px;
    height: 50px;
    inset: 0;
    opacity: 0;
    border-radius: 8px;
    transition:1s;
    width: 100%;
    background: transparent;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_card:hover .overlay {
    opacity: 1;
    transform:translateY(-50px) ;
    transition:1s;
}

.overlay img{
    width: 300px;
    height: 500px;
    transform: translateY(-100px);
    filter: drop-shadow(10px 10px 4px black);
}
.card .title {
    position: absolute;
    bottom: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 10px;
    transform: translateZ(20px);
    transition: transform 0.5s;
}

.container_card:hover .title {
    background: none;
    transform: translate3d(0, -50px, 100px);
}
